html{
    scroll-behavior: smoooth;
	background-color: tan;
}

header{
	box-sizing: border-box;
	height:25px;
	width: 102%;
	background-color: lightgray;
	border-bottom: 2px solid darkgray;
	position:relative;
	top: -7px;

 
}

a:link{
	color: black;
}
a:visited{
	color: orange;
}

.English-button{
	box-sizing: border-box;
	height: 10px;
	width: 65px;
	border: 3px black;
	float: right;
	font-size: 15px;
	position: relative;
	top: 1px;

}

.Spanish-button{
	box-sizing: border-box;
	height: 10px;
	width: 65px;
	border: 3px black;
	float: right;
	font-size: 15px;
	position: relative;
	top: 1px;
}

.cultiva-logo{
	float:left;
	position:absolute;
	box-sizing: border-box;
	top: -12px;
}

nav{
    box-sizing:border-box;
	background-image: linear-gradient( orange, brown,green);
    height: 85px;
    width: 100%;
    border-bottom: 3px solid gray;
    position:absolute;
	top:25px;
    
}

.menu ul li{
	font-size: 25px;
	position:relative;
	float:right;
	display:inline;
	top: 15px;
	left:-10px;
    list-style-type: none;
    margin: 5px;
    padding: 2px


}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Final project/img/cultivaflea.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top:76px;
  width:101%;

}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: orange;
  font-size: 150%;
  text-decoration-line: underline;
}

.column{
    float: left;
	position: relative;
    width: 40%;
    border: 2px solid black;
    background-color: orange;
	top: 200px;
	left: 35px;
    padding: 35px;
	margin: 10px;

}

.column h2{
	text-align: center;
}

.column-photo{
	box-sizing: content-box;
    float: right;
	position: relative;
	/* transform: translate(-50%, -50%) */
    width: 500px;
    border: 2px solid black;
    background-color: orange;
	top: 100px;
	height: 450px;
    padding:;
	margin: 30px;
}

.promotoras{
	float: none;
	position: absolute;
	/* transform: translate(-50%, -50%) */
	height: 390px;
	left: 5px;
	width: 490px;
	top: 25px;
	
}

.column-3{
	float: right;
	clear:right;
	position:relative;
    width: 35%;
    border: 2px solid black;
    background-color: orange;
	top: 210px;
	left: -15px;
    padding: 55px;
	margin: 00px;
}

.column-3 h2{
	text-align: center;
}

.cultiva-video{
	position: relative;
	float: left;
	top: 175px;
	left: 75px;
}

.footer-bar{
	
}

/* body{
		background: white;
		font-size:22px;
		line-height: 32px;
		color: black;
		word-wrap:break-word !important;
		font-family: 'Open Sans', sans-serif;
	   } */





